<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 통합 -->
    <import resource="classpath:WEB-INF/spring/database-context/databaseContext.xml"/>
    <import resource="classpath:WEB-INF/spring/spring-security/springSecurityContext.xml"/>

</beans>