<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.everypet.order.model.dao.OrderDetailMapper">

    <!-- 주문 디테일 정보를 TBL_ORDER_DETAIL 테이블에 삽입 -->
    <insert id="insertOrderDetail">
        INSERT INTO TBL_ORDER_DETAIL (ORDER_ID, PRODUCT_ID, PRODUCT_PRICE, QUANTITY, DISCOUNT_RATE)
        SELECT
            #{orderId},
            p.PRODUCT_ID,
            p.PRODUCT_PRICE,
            #{quantity},
            p.PRODUCT_DISCOUNT_RATE
        FROM TBL_PRODUCT p
        WHERE p.PRODUCT_ID = #{productId}
    </insert>

    <!-- 주문 디테일 정보를 TBL_ORDER_DETAIL 테이블에서 삭제 -->
    <delete id="deleteOrderDetailByOrderId">
        DELETE FROM TBL_ORDER_DETAIL
        WHERE ORDER_ID = #{orderId}
    </delete>

    <!-- 주문 디테일 정보를 TBL_ORDER_DETAIL 테이블에서 조회 -->
    <select id="selectOrderDetailsByOrderId" resultType="OrderDetail">
        SELECT ORDER_DETAIL_ID, ORDER_ID, PRODUCT_ID, PRODUCT_PRICE, QUANTITY, DISCOUNT_RATE
        FROM TBL_ORDER_DETAIL
        WHERE ORDER_ID = #{orderId}
    </select>

    <!-- 리뷰 했음으로 변경 -->
    <update id="updateReviewStatusToY" parameterType="Long">
        UPDATE TBL_ORDER_DETAIL
        SET REVIEW_STATUS = 'Y'
        WHERE ORDER_DETAIL_ID = #{orderDetailId}
    </update>

    <!-- 리뷰 안 했음으로 변경 -->
    <update id="updateReviewStatusToN" parameterType="Long">
        UPDATE TBL_ORDER_DETAIL od
            JOIN TBL_REVIEW r ON od.ORDER_DETAIL_ID = r.ORDER_DETAIL_ID
            SET od.REVIEW_STATUS = 'N'
        WHERE r.REVIEW_ID = #{reviewId}
    </update>

    <!-- 판매자 확인 쿼리 -->
    <select id="checkSeller" resultType="int" parameterType="Map">
        SELECT COUNT(*)
        FROM TBL_PRODUCT p
                 JOIN TBL_ORDER_DETAIL od ON p.PRODUCT_ID = od.PRODUCT_ID
        WHERE p.MEMBER_ID = #{memberId}
          AND od.ORDER_DETAIL_ID = #{orderDetailId};
    </select>

    <!-- 운송장 번호 업데이트 쿼리 -->
    <update id="updateTrackingNumber" parameterType="Map">
        UPDATE TBL_ORDER_DETAIL
        SET TRACKING_NUMBER = #{trackingNumber}
        WHERE ORDER_DETAIL_ID = #{orderDetailId};
    </update>

    <!-- orderDetailId로 OrderDetailDTO 조회 -->
    <select id="getOrderDetailByOrderDetailId" parameterType="Long" resultType="com.everypet.order.model.dto.OrderDTO$OrderDetailDTO">
        SELECT
            o.ORDER_ID,
            o.MEMBER_ID,
            o.ORDER_DATE,
            o.TOTAL_AMOUNT,
            o.PRODUCT_AMOUNT,
            o.DELIVERY_AMOUNT,
            o.POSTAL_CODE,
            o.ADDRESS,
            o.ADDRESS_DETAIL,
            o.RECEIVER,
            o.PHONE,
            o.REQUEST,
            o.ORDER_STATUS,
            od.ORDER_DETAIL_ID,
            od.PRODUCT_ID,
            od.PRODUCT_PRICE,
            od.QUANTITY,
            od.DISCOUNT_RATE,
            od.TRACKING_NUMBER,
            od.PARCEL_COMPANY,
            od.REVIEW_STATUS_YN
        FROM
            TBL_ORDER o
                INNER JOIN
            TBL_ORDER_DETAIL od ON o.ORDER_ID = od.ORDER_ID
        WHERE
            od.ORDER_DETAIL_ID = #{orderDetailId}
    </select>
</mapper>