<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.everypet.global.util.point.model.dao.PointMapper">
    <update id="addPoints" parameterType="String">
        UPDATE TBL_MEMBER
        SET POINT = POINT + #{point}
        WHERE MEMBER_ID = #{memberId}
    </update>
</mapper>