<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.everypet.auth.jwt.data.dao.RefreshTokenMapper">

    <select id="existsByRefreshToken" parameterType="String" resultType="boolean">
        SELECT COUNT(*) FROM TBL_REFRESH_TOKEN
    </select>

    <delete id="deleteByRefreshToken" parameterType="String">
        DELETE FROM TBL_REFRESH_TOKEN WHERE REFRESH_TOKEN = #{refreshToken}
    </delete>

    <delete id="deleteByMemberId" parameterType="String">
        DELETE FROM TBL_REFRESH_TOKEN WHERE MEMBER_ID = #{memberId}
    </delete>

    <insert id="insertRefreshToken" parameterType="RefreshToken">
        INSERT INTO TBL_REFRESH_TOKEN(MEMBER_ID, REFRESH_TOKEN , EXPIRATION_DATE)
        VALUES (#{memberId}, #{refreshToken}, #{expirationDate})
    </insert>

</mapper>