.container {
  display: flex;
  /* background-color: antiquewhite; */

  justify-content: center;

  margin-top: 20px;
  margin-bottom: 80px;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item7,
.item8,
.item9 {
  height: 400px;
}

.img {
  width: 100%; /* 이미지가 부모 요소인 .item에 꽉 차게 설정 */
  height: 400px; /* 이미지가 부모 요소인 .item에 꽉 차게 설정 */
  object-fit: cover; /* 이미지가 부모 요소에 맞게 늘어나며 가운데 정렬되도록 설정 */
}
