.container {
  display: flex;
  /* background-color: antiquewhite; */

  justify-content: center;

  margin-top: 20px;
  margin-bottom: 100px;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item7,
.item8,
.item9 {
  height: 400px;
}

.img {
  width: 100%; /* 이미지가 부모 요소인 .item에 꽉 차게 설정 */
  /* 이미지 크기를 맞춰서 다시 설정하기 */
  height: 101%;
  object-fit: cover; /* 이미지가 부모 요소에 맞게 늘어나며 가운데 정렬되도록 설정 */
}

/* Medium screens (greater than 800px) */
@media (max-width: 1536px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
