.container {
    position: relative;
    width: 100%;
}

.item {
    outline: none;
}

.img {
    width: 100%;
    height: 200px;
}


@media screen and (min-width: 769px) {
    .container {
        height: 400px;
    }
    .img {
        width: 100%;
        height: 350px;
    }
}
