.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.inner {
    width: 100%;
}

.title {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.main__img {
    width: 100%;
    object-fit: cover;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.rightAlign {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

.view__all {
    display: flex;
    font-size: 16px;
    color: gray;
    align-items: center;
    transition: all 0.2s ease;
}

.view__all:hover {
    color: #75acff;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .inner {
        width: 1100px;
    }

    .title {
        font-size: 28px;
    }

    .view__all {
        font-size: 18px;
    }
}
