/* CustomerService.module.css */

.container {
    display: flex;
    width: 1250px;
    margin: 50px auto auto;

    /* background-color: #28a745; */
}

.sidebar {
    width: 20%;
    height: 400px;

    padding: 10px;
    margin-top: 25px;

    position: sticky;
    top: 100px; /* 스크롤 시 고정될 위치 */
}

.sidebar__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;

    color: #353535;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
    transition: all 0.3s ease;
}

.sidebar li:hover {
    color: #258bff;
    transform: scale(1.1);
}

.contactInfo {
    margin-top: 40px;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    text-align: center;
}

.contactInfo h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.contactInfo p {
    margin: 10px 0 0;
    color: #666;
    font-size: 14px;
}

.contactInfo h3:last-of-type {
    margin-top: 10px;
    color: #28a745;
}

.content {
    width: 80%;
    padding: 20px;
}

.content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.searchBar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.searchBar select,
.searchBar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.searchBar button {
    padding: 10px 20px;
    border: none;
    background-color: #258bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.searchBar button:hover {
    background-color: #1065c7;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    padding: 10px;
    border: 1px solid #e6e6e6;
    text-align: left;
}

.table th {
    background-color: #f5f5f5;
}

.notice {
    color: #28a745;
    font-weight: bold;
}
