.container {
    display: flex;
    width: 100%;

    margin: 0 auto;
    padding: 20px;
}

.sidebar {
    width: 200px;
    margin-right: 20px;
    border-right: 1px solid #ddd;
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;

    font-weight: bold;
}

.sidebar__item {
    width: 80%;
    padding: 10px 0;
    cursor: pointer;
    transition: all 0.3s ease, color 0.3s ease;
}

.sidebar__item a {
    text-decoration: none;
    color: inherit;
    display: block;
    border-radius: 0 20px 20px 0;
    transition: all 0.3s ease, color 0.3s ease;
}

.sidebar__item a:hover,
.sidebar__item a.active {
    background-color: #4c89ff;
    color: white;
    padding: 10px 15px; /* 패딩을 a 태그로 이동 */
    border-radius: 0 20px 20px 0;
}

.mainContent {
    flex-grow: 1;
    min-height: 60vh;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.table th,
.table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
    text-align: left;
}

.button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}


@media screen and (min-width: 769px) {
    .container {
        width: 1100px;
    }
}

