/*  form    */
.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    margin-left: 2rem;
}

/* input checkbox */
.input_checkbox {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 2px solid #888;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 8px;
}

.input_checkbox:checked {
    background-color: #19d768;
}

.input_checkbox::before {
    content: '';
    position: absolute;
    top: -3px;
    left: 5px;
    width: 7px;
    height: 13px;
    border: solid #fff;
    border-width: 0 2px 3px 0;
    transform: rotate(45deg);
    opacity: 0;
}

.input_checkbox:checked::before {
    opacity: 1;
}

/* textarea */
.textarea_container {
    margin-left: 2rem;
}

.textarea {
    height: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: auto;
    resize: none;
    margin-top: 1rem;
}

.textarea::-webkit-scrollbar {
    width: 10px;
}

.textarea::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.textarea::-webkit-scrollbar-track {
    background-color: #ddd;
}

.textarea:focus {
    outline: none;
}

/* btn */
.agreement_btn {
    text-align: center;
    width: 100%;
    border-radius: 5px;
    color: white;
    height: 3rem;
    background-color: #888888;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

.agreement_btn:hover {
    background-color: #7FA8FF;
}

.requiredText {
    color: #4a8cf0;
}


