.section {
    background-color: #f9f9f9;
}

.h2 {
    margin-bottom: 20px;
}

.tableWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px; /* 위아래 간격 설정 */
}

.tableContainer {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.table th,
.table td {
    padding: 12px 15px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: 50%; /* 각 셀에 고정된 너비 설정 */
}

.table th {
    min-width: 100px;
    width: 15%; /* 헤더 셀 너비 설정 */
    background-color: #f2f2f2;
    text-align: left;
}

.button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

.button:hover {
    background-color: #0056b3;
}
