.section {
    display: flex;
    flex-direction: column;
    height: 100%;

    gap: 20px;
}

.title{
    font-weight: bold;
    font-size: 28px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.couponCount {
    font-size: 16px;
    color: #666;
}

.sortButtons {
    display: flex;
    gap: 10px;
}

.sortButton {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s, border-color 0.2s;
}

.activeSort {
    background-color: #007BFF;
    color: #fff;
    border-color: #007BFF;
}

.gridWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.card {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #ddd;
}

.infoHeader {
    font-size: 20px;
    font-weight: bold;
}

.couponDetails {
    font-size: 16px;
    color: #333;
}

.expiryDate {
    font-size: 14px;
    color: #737373;
}

.applyLink {
    font-size: 14px;
    color: #a6a6a6;
    text-align: right;
    cursor: pointer;
    text-decoration: underline;
}
