.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* 아이템 중앙 정렬 */
    max-width: 180px; /* 최대 너비 설정 */
    background-color: white;
    margin: auto; /* 수평 중앙 정렬 */
    border-radius: 5px;
    transition: transform 0.3s ease;
    cursor: pointer;
    position: relative;

}

.img__wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90%;
    background-color: #f5f5f5;
    border-radius: 5px;

    margin-bottom: 10px;
}

.img {
    width: 80%; /* 이미지 너비 조정 */
    transform: scale(0.8);
    transition: transform 0.3s ease;

}

.item:hover .img {
    transform: scale(0.9);
}

.title {
    color: #333;
    font-size: 0.8rem;
    font-weight: bold;
    transition: all 0.2s ease-in;
    text-align: left; /* 텍스트 왼쪽 정렬 */
}

.item:hover .title {
    color: #75acff;
}

.item__info {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 5px; /* 상하 여백 */
    align-items: flex-start; /* 정보 왼쪽 정렬 */
}

.price__wrap {
    display: flex;
    align-items: center;
    gap: 8px;
}

.discount {
    color: rgb(253, 111, 111);
    font-size: 1.2em; /* 모바일에서의 크기 */
    font-weight: bold;
}

.price {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1em; /* 모바일에서의 크기 */
}

.tagAndIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding-bottom: 10px;
    border-bottom: solid rgb(199, 199, 199) 1px;
}

.cartIcon,
.likeIcon {
    font-size: 1.2em; /* 모바일에서의 크기 */
    margin-right: 10px;
    color: #8f8f8f;
    transition: all 0.2s ease;
}

.cartIcon:hover {
    color: black;
}

.likeIcon:hover {
    color: rgb(255, 55, 55);
}

.tag {
    background-color: #ff8a00;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8em;
}

.recommendationAndReviews {
    display: flex;
    align-items: center;
    gap: 8px;
}

.stars {
    color: #ff8a00;
}

.reviewCount {
    color: rgb(122, 122, 122);
    font-size: 0.8em;
}

@media (min-width: 701px) {
    .item {
        height: 400px;
        padding: 0;
        margin: 0;
        max-width: none;
    }

    .title {
        font-size: 1em;
    }

    .discount {
        font-size: 24px;
    }

    .price {
        font-size: 1.1em;
    }

    .cartIcon,
    .likeIcon {
        font-size: 24px;
    }

    .tag {
        font-size: 14px;
    }

    .reviewCount {
        font-size: 13px;
    }
}
