/* Scroll To Top Button Styles */
.scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;

    z-index: 1000;
}

.scrollButton {
    background-color: #007BFF;
    border: none;
    border-radius: 50%;
    padding: 15px;

    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    transition: background-color 0.3s, opacity 0.3s;
}

.scrollButton:hover {
    background-color: #0056b3;
}

.enter {
    animation: enterAnimation 0.5s forwards;
}

.icon{
    color: white;
}


@media screen and (min-width: 789px) {
    .scrollButton {
    }
}

@keyframes enterAnimation {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

