<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- Camel Case, Snake Case로만 다를 경우 resultMap을 안 써도 이 코드 쓰면 알아서 바꿔줌 -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.everypet.member.model.vo.Member" alias="Member"></typeAlias>
        <typeAlias type="com.everypet.global.auth.oauth2.data.domain.OAuth2Member" alias="OAuth2Member"></typeAlias>
        <typeAlias type="com.everypet.member.model.vo.Address" alias="Address"></typeAlias>

        <typeAlias type="com.everypet.product.model.domain.Product" alias="Product"></typeAlias>
        <typeAlias type="com.everypet.product.model.vo.ProductInsertDTO" alias="ProductInsertDTO"></typeAlias>
        <typeAlias type="com.everypet.product.model.vo.SelectProductDTO" alias="SelectProductDTO"></typeAlias>
        <typeAlias type="com.everypet.product.model.vo.ProductUpdateDTO" alias="ProductUpdateDTO"></typeAlias>
        
        <typeAlias type="com.everypet.cart.model.vo.Cart" alias="Cart"></typeAlias>
        <typeAlias type="com.everypet.cart.model.dto.CartItemDTO" alias="CartItem"></typeAlias>

        <typeAlias type="com.everypet.product.model.domain.Advertisement" alias="Advertisement"></typeAlias>
        <typeAlias type="com.everypet.product.model.vo.AdvertisementDTO" alias="AdvertisementDTO"></typeAlias>
        <typeAlias type="com.everypet.product.model.vo.InsertAdvertisementDTO" alias="InsertAdvertisementDto"></typeAlias>
    </typeAliases>

</configuration>