.box {
  width: 100px;
  height: 400px;
  background-color: aqua;
  margin: 30px 0 30px 0;
}

.container {
  display: flex;
  width: 100%;
  /* background-color: rgb(211, 211, 248); */

  align-items: center;

  justify-content: center;
}

.inner {
  width: 1250px;

  /* background-color: aqua; */
}

.title {
  display: block;

  font-size: 36px;
  font-weight: bold;

  margin-bottom: 30px;
}

.main__img {
  width: 100%;
  object-fit: cover;
}

.rightAlign {
  display: flex; /* Use flexbox for alignment */
  justify-content: flex-end; /* Align to the right end */
  margin: 10px 0; /* Margin for spacing */
}

.view__all {
  padding: 8px 16px; /* Button padding */
  background-color: #007bff; /* Primary button color, e.g., Bootstrap blue */
  color: white; /* Text color */
  border: none; /* No border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Text size */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.view__all:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

@media screen and (max-width: 1536px) {
  .inner {
    width: 1000px;
  }
  .container {
    padding: 10px;
  }
  .title {
    font-size: 28px;
  }
}
