.box {
  width: 100px;
  height: 400px;
  background-color: aqua;
  margin: 30px 0 30px 0;
}

.brand__ad {
  display: flex;
  flex-direction: column;

  gap: 200px;
}

.container {
  display: flex;
  width: 100%;
  /* background-color: rgb(211, 211, 248); */

  align-items: center;

  justify-content: center;
}

.inner {
  width: 1250px;

  /* background-color: aqua; */
}

.title {
  display: block;

  font-size: 36px;
  font-weight: bold;

  margin-bottom: 30px;
}

.main__img {
  width: 100%;
  object-fit: cover;

  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.rightAlign {
  display: flex; /* Use flexbox for alignment */
  justify-content: flex-end; /* Align to the right end */
  margin: 10px 0; /* Margin for spacing */
}

.view__all {
  display: flex;
  font-size: 18px;

  color: gray;

  align-items: center;
  transition: all 0.2s ease;
}

.view__all:hover {
  color: #75acff;
  cursor: pointer;
}

@media screen and (max-width: 1536px) {
  .inner {
    width: 1000px;
  }
  .container {
    padding: 10px;
  }
  .title {
    font-size: 28px;
  }
}
