.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  /* background-color: aqua; */

  align-items: center;
  justify-content: center;
}

.inner {
  width: 1250px;

  /* background-color: aqua; */

  margin: 40px 0 40px 0;
}
