.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.inner {
    width: 100%;
}


@media screen and (min-width: 769px){
    .inner {
        width: 1100px;
        margin: 40px 0 40px 0;
    }
}