/* SearchPage.module.css */

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.inner {
    width: 100%;
    margin: 40px 0;
}

/* 노트북 환경 */
@media screen and (min-width: 1024px) and (max-width: 1599px) {
    .inner {
        width: 1100px;
    }
}

/* 데스크탑 환경 */
@media screen and (min-width: 1600px) {
    .inner {
        width: 1250px;
    }
}

.itemList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
