.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

}

.searchWord {
    display: flex;
    width: 90%;
    font-size: 18px;
    color: #656565;

    margin-top: 30px;
}

.inner {
    width: 100%;
}

.itemList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



/* 노트북 환경 */
@media screen and (min-width: 769px) {
    .container {
        min-height: 400px;
    }

    .searchWord {
        font-size: 24px;
    }

    .inner,
    .searchWord {
        width: 1100px;
    }
}
