.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  /* background-color: aqua; */

  align-items: center;
  justify-content: center;
}

.inner {
  width: 1250px;

  /* background-color: aqua; */
  margin-top: 20px;
}

.title {
  font-size: 36px;
  font-weight: bold;
}
