.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.noResults {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    color: #8f8f8f;
}

.VscSearchStop{
    color: gray;
}

.noResults__text {
    font-size: 48px;
}