
.modal__open {
    display: block;

}

.modal__close {
    display: none;
}

.modal__fixed {
    position: fixed;
    display: flex;
    width: 100%;

    top: 141px;

    background-color: white;

    margin: auto;

    border-bottom: 1px solid #ccc;

    padding: 20px 0 20px 0;


    z-index: 1000;
}

.modal__content {
    display: flex;

    position: absolute;
    width: 100%;

    background-color: white;

    border-bottom: 1px solid #ccc;

    padding: 20px 0 20px 0;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.categories__container {
    display: flex;
    flex-wrap: wrap;

    margin: auto;

    gap: 110px;
}

.category {
    display: flex;

}

.category__content {
    user-select: none;


    width: 8rem;
}

.category__title {
    display: flex;

    font-size: 18px;
    font-weight: bold;

    margin-bottom: 10px;
    margin-left: -2px;

    transition: all 300ms linear;
    cursor: pointer;
}


.ul__wrap {
    display: flex;
    position: relative;
}

.ul__line__bg {
    width: 2px; /* 배경 세로선의 너비 설정 */
    height: 100%; /* 부모 요소에 맞게 높이 설정 */
    background-color: #cac7c7; /* 배경 세로선의 색상 설정 */
    position: absolute; /* 절대 위치 설정 */
}

.ul__line {
    width: 2px; /* 세로선의 너비 설정 */
    height: 0; /* 초기에는 높이를 0으로 설정 */
    background-color: #4a8cf0;
    position: absolute; /* 절대 위치 설정 */

    transition: all 0.5s ease; /* 높이에 대한 트랜지션 설정 */
}

.category__content:hover .ul__line {
    height: 100%; /* 호버 시 세로선의 높이를 100%로 변경하여 보이도록 함 */
}

.category__content:hover .category__title {
    color: #4a8cf0;
}

.category__content:hover .ul__wrap .ul__line {
    background-color: #4a8cf0;
}

.category ul {
    list-style: none;
    padding-left: 20px;

    margin: 0;
}

.category ul li {
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;

    margin-top: 20px;

    cursor: pointer;

    transition: color 0.3s ease;
}

.category ul li:hover {
    color: #4a8cf0;
}

@media screen and (min-width: 1600px) {
    .categories__container {
        gap: 150px;
    }
}
