.categorybar {
    display: none;

    /* background: rgb(95, 144, 188); */

    font-size: 20px;

    cursor: pointer;

    align-items: center;

    gap: 10px;

}

@media screen and (min-width: 769px) {
    .categorybar {
        display: block;
        height: 30px;
        font-size: 18px;
    }
}
