:root {
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'WAGURI';
  font-weight: normal;
  src: url('./assets/font/WAGURI_TTF.ttf') format('truetype');
}

@font-face {
  font-family: 'pretendard-regular';
  font-weight: normal;
  src: url('./assets/font/Pretendard-Regular.woff') format('truetype');
}

body {
  font-family: 'pretendard-regular';
}
