.timeItem {
    border: 1px solid #cdcdcd;
    width: 1250px;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.timeItem:hover .image img {
    transform: scale(1.2);
}

.body {
    display: flex;
    width: 100%;
    align-items: center;
}

.image {
    display: flex;
    width: 60%;
    height: 300px;
    background-color: rgb(246, 246, 246);
    justify-content: center;
    align-items: center;
}

.image img {
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.info {
    display: flex;
    width: 40%;
    height: 90%;

    padding: 0 20px;

    flex-direction: column;
    justify-content: space-between;

}

.countdown {
    display: flex;
    width: 50%;

    border: 1px #d3d3d3 solid;
    border-radius: 20px;

    overflow: hidden;
}

.tag {
    display: flex;
    width: 50%;
    height: 30px;
    background-color: #ff1616;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
}

.countdownText {
    display: flex;

    align-items: center;
    justify-content: center;

    color: rgb(255, 41, 41);
    font-size: 18px;
    font-weight: bold;

    margin-left: 10px;
}

.seconds {
    animation: digitChange 1s infinite;
}

.description {
    font-size: 20px;
    font-weight: bold;

    margin-top: 30px;
}


.price__container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.priceTitle {
    color: #ff1b58;
    font-size: 68px;
    font-weight: bold;
    margin-right: 10px;
}

.price {
    display: flex;
    flex-direction: column;
}

.originalPrice {
    text-decoration: line-through;
    color: #999;
    font-size: 18px;
}


.discountedPrice {
    font-size: 28px;
    color: black;
    margin-right: 10px;
    font-weight: bold;
}


.details p {
    margin: 5px 0;
    color: #333;
    font-size: 16px;
}

.rating {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.star {
    color: gold;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.grayStar {
    color: lightgray;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}


.reviews {
    color: gray;
}


.coupon {
    margin-top: 10px;
    padding: 5px;
    background-color: #5a62ff;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;

    color: white;
}

