/* Cart.module.css */

.cartContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px; /* 장바구니 너비를 조정 */
  height: 100%;
  background-color: white;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  border-left: 1px solid rgb(226, 226, 226);
  z-index: 999;
}

.cartContainer.open {
  transform: translateX(0);
}

.cartHeader {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.cartTitle {
  font-size: 24px; /* 큰 폰트 사이즈 */
  font-weight: bold;
}

.cartClose {
  cursor: pointer;
  font-size: 24px; /* 아이콘 크기 */
}

.cartItems {
  padding: 10px 20px;
  overflow-y: auto; /* 스크롤 가능하게 설정 */
  height: calc(100% - 250px); /* 헤더와 푸터를 제외한 높이 설정 */
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.cartItemDetails {
  flex: 1;
  margin-left: 10px;
}

.cartItemDetails div {
  margin-bottom: 5px;
}

.cartItem img {
  width: 60px; /* 이미지 크기 */
  height: 60px;
  margin-right: 10px;
}

.cartItemRemove {
  cursor: pointer;
  color: rgb(180, 180, 180);
  font-size: 14px;
  border: none;
  background: none;
  padding: 0;
}

.cartItemRemove:hover {
  color: red;
}

.cartFooter {
  padding: 20px;
  border-top: 1px solid rgb(226, 226, 226);
}

.summary {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.totalAmount {
  font-size: 18px; /* 큰 폰트 사이즈 */
  font-weight: bold;
  text-align: right;
  margin-bottom: 10px;
}

.checkoutButton {
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: white;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.checkoutButton:hover {
  background-color: #0056b3;
}
