.open {
  position: relative;
  top: 0;
  transition: top 0.3s ease; /* 오픈 상태일 때 애니메이션 효과 추가 */
}

.close {
  position: relative;
  top: -100px;
  transition: top 0.1s ease; /* 클로즈 상태일 때 애니메이션 효과 추가 */
}

.container__fixed {
  width: 100%;
  height: 100px;

  background-color: white;

  display: flex;
  position: fixed;

  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */

  border-bottom: 1px solid #e6e6e6;

  z-index: 9999;
}

.inner {
  width: 1250px;
  height: 100%;
  /* background-color: brown; */

  display: flex;
  align-items: center; /* 수직 가운데 정렬 */
  justify-content: space-between;
}

.logo__wrap {
  display: flex;

  width: 180px;
  /* background-color: blanchedalmond; */

  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  /* background-color: rgb(54, 147, 223); */

  font-size: 36px;
  color: #75acff;

  font-family: 'WAGURI';

  text-decoration: none;

  justify-content: center;
}

@media screen and (max-width: 1536px) {
  .inner {
    width: 1100px;
  }

  .logo__wrap {
    width: 150px;
  }

  .title {
    font-size: 28px;
  }
}
