.container {
  display: flex;

  width: 180px;
  margin-left: 80px;
  /* background-color: aqua; */

  align-items: center;
  justify-content: space-between;

  border: solid 2px #4a8cf0;

  border-radius: 20px;

  padding: 5px 20px 5px 20px;
}

.rank__container {
  display: flex;
  gap: 8px;

  font-size: 1rem;

  cursor: pointer;
}

.keyword:hover {
  font-weight: bold;
}

.open {
  font-size: 0.8rem;

  cursor: pointer;
}

@media screen and (max-width: 1536px) {
  .container {
    width: 180px;
    margin-left: 80px;
  }
  .rank__container {
    font-size: 16px;
  }
}
