.container {
  display: flex;

  width: 20vw;

  /* background-color: aqua; */
  border-bottom: 1px solid black;

  margin-left: 1rem;
}

.search__input {
  width: 90%;

  border: none;
  outline: none;

  font-size: 1rem;
  font-weight: bold;
}

.search__input::placeholder {
  color: rgb(165, 165, 165);
  font-weight: bold;
}

.search__btn {
  background: none;
  border: none;

  font-size: 1.5rem;

  cursor: pointer;
}

@media screen and (max-width: 1536px) {
  .container {
    width: 22vw;
    margin-left: 0.5rem;
  }
  .search__btn {
    font-size: 1.3rem;
  }
}
