/* 기본 스타일 - 모바일 환경에 적용 */
.container {
    display: flex;
    width: 100%; /* 모바일에서의 너비 조정 */
    height: 30px;
    font-size: 16px;
    border: solid 2px #4a8cf0;
    border-radius: 20px;
    padding: 0;
    position: relative; /* 상대 위치 지정 */
}

.search__input {
    width: 100%;
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px; /* 폰트 크기 조정 */
    padding: 6px 40px 6px 16px; /* 패딩 조정, 오른쪽 패딩 추가 */
    border-radius: 20px; /* 둥근 모서리 */
}

.search__input::placeholder {
    color: rgb(165, 165, 165);
}

.search__btn {
    position: absolute; /* 절대 위치 지정 */
    right: 10px; /* 오른쪽 끝에서 약간 떨어지게 */
    top: 50%;
    transform: translateY(-50%); /* 세로 중앙 정렬 */
    background: none;
    border: none;
    color: #4a8cf0;
    font-size: 16px; /* 폰트 크기 조정 */
    cursor: pointer;
    padding: 0;
}

@media screen and (min-width: 769px) {
    .container {
        width: 40%;
        height: 40px; /* 높이 복원 */
        border-radius: 20px;

    }

    .search__input {
        font-size: 16px; /* 폰트 크기 복원 */
        padding: 10px 10px 10px 20px; /* 패딩 복원 */

        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .search__btn {
        font-size: 16px; /* 폰트 크기 복원 */
        padding: 10px; /* 패딩 복원 */
        position: relative; /* 버튼 위치 초기화 */
        right: 0;
        top: 0;
        transform: none; /* 변환 초기화 */
        background: none;
        border: none;
        color: #4a8cf0;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}
