.search__container {
    display: flex;

    width: 100%;
    height: 40px;
    font-size: 16px;

    padding: 0 10px;
}

.search__input {
    width: 100%;

    border: none;
    outline: none;

    font-size: 16px;
}

.search__input::placeholder {
    color: rgb(165, 165, 165);
}

.search__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    background: none;
    border: none;

    color: #4a8cf0;
    cursor: pointer;
}

@media screen and (min-width: 769px) {
    .search__container {
        width: 40%;

        border: solid 2px #4a8cf0;
        border-radius: 20px;

        padding: 0 20px;
    }

    .search__container__write {
        display: flex;
        position: relative;

        width: 40%;
        height: 44px;

        font-size: 16px;
        padding: 0 20px;

        border-radius: 20px 20px 0 0;
        box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    }

    .historyContainer {
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        padding: 10px 0;
    }

    .historyList {
        list-style: none;
        padding: 0 25px;
    }

    .historyList__header,
    .historyList__footer {
        display: flex;

        font-size: 16px;
        color: gray;

        justify-content: space-between;
        align-items: center;
    }

    .historyItem__container {
        padding: 10px 0;

        border-top: solid 1px #b7b7b7;
        border-bottom: solid 1px #b7b7b7;
    }

    .historyItem {
        display: flex;
        align-items: center;

        font-size: 18px;
        color: #363636;

        gap: 8px;

        padding: 10px 0;

        cursor: pointer;
    }


    .auto__save,
    .close__btn {
        padding: 0;

        background-color: white;
        cursor: pointer;
        border: none;
    }

    .auto__save:hover,
    .close__btn:hover {
        text-decoration: underline;
    }

    .historyItem:hover {
        background-color: #f0f0f0;
    }

    .noHistory {
        padding: 10px;
        color: #888;
        text-align: center;
    }
}
