.container {
    display:none;
}

.links {
    display: flex;
    margin: auto;

    width: 1250px;
    height: 100%;

    font-size: 14px;
    align-items: center;
    justify-content: end;
    gap: 24px;
}


.links a {
    position: relative;
}

.links a:not(:last-child)::after {
    content: '';
    position: absolute;
    right: -12px; /* 링크와 구분선 간격 */
    top: 50%;
    transform: translateY(-50%);
    height: 16px; /* 구분선 길이 */
    width: 1px; /* 구분선 두께 */
    background-color: #ccc; /* 구분선 색상 */
}

.userInfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    font-weight: bold;
    font-size: 18px;
}

.logoutBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 25px;

    margin-left: 10px;

    font-size: 14px;
    font-weight: bold;

    color: #fff;
    background-color: #dddddd;

    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logoutBtn:hover {
    background-color: #4c89ff;
}

@media screen and (min-width: 768px) {
    .container{
        display: flex;
        width: 100%;
        height: 40px;

        background-color: white;
    }
    .links {
        width: 1100px;
    }
}
