.container {
  width: 220px;
  /* background-color: aqua; */
}

.links {
  display: flex;
  margin-top: 15px;
  margin-left: 15px;

  font-size: 12px;

  gap: 16px;
}

.user {
  display: flex;

  list-style-type: none;

  padding: 0;

  align-items: center;
  justify-content: space-between;
}

.my,
.order,
.cart {
  display: flex;
  flex-direction: column; /* 세로 방향으로 요소 정렬 */

  font-size: 36px;
  cursor: pointer;

  align-items: center;
  justify-content: center;
}
.tag {
  display: flex;

  font-size: 12px;

  margin-top: 5px;
}
