.container {
  display: flex;
  flex-direction: column;

  justify-content: center;

  gap: 16px;

  /* background-color: aqua; */
  height: 100%;
}

.links {
  display: flex;

  font-size: 12px;

  justify-content: end;

  gap: 16px;
}

.user {
  display: flex;

  list-style-type: none;

  justify-content: end;
  gap: 16px;

  margin: 0;
  padding: 0;
}

.my,
.order,
.cart {
  display: flex;
  flex-direction: column; /* 세로 방향으로 요소 정렬 */

  font-size: 40px;
  cursor: pointer;

  align-items: center;
  justify-content: center;

  /* background-color: aquamarine; */
}
.tag {
  display: flex;

  font-size: 14px;
  color: gray;

  margin-top: 5px;
}
